1.Introduction to Python 
   
2. Installation in windows 
   


3. installation in linux 
   


4. introducing IDLE 


5. Installing PyCharm
   

6. strings, variables and comments
   

7. Taking input, escaping characters in Python (in   )
   

8. Variables, Arithmetic operators in Python ( in   )
   

9. Operator precedence (Python in   )
   


10. Strings in Python ( in hindi )
   
11

11. formatting strings in Python ( in   )
   
12

12. Control Structures - Indentation
   
13

13. Control Structures - if, else in Python
   
14

14. Control Structures -if else - part 2 (Python in   )
   
15

15. Control Structures - elif ( Python in   )
   
16

16. Control Structures - For loop in Python (   )
   
17

17. Control Structures - for loop in Python | part 2
   
18

18. Control Structures - break and continue in Python (   )
   
19

19. Prime number program in Python
   
20

20. augmented assignment statements in Python
   
21

21. Control Structures - While loop in Python ( in   )
   
22

22. Number Guessing Game in Python ( in   )
   
23

23. Sequence - List in Python ( in   )
   
24

24. Sequence - List | part 2 | (Python in   )
   
25

25. Challenge based on List ( Python in HIndi )
   
26

26. Sequence - iterators ( Python in   )
   
27

27. Sequence - Range function ( Python in   )
   
28

28. Sequence - Range | part 2 | ( Python in   )
   
29

29. Sequence - Tuples | ( Python in   )
   
30

30. Sequence - Tuples | part 2 | ( Python in   )
   
31

31. Dictionaries | ( Python in   )
   
32

32 Dictionaries | Part 2 | ( Python in   )
   
33

33. Dictionaries : keys and values
   
34

34. Dictionaries - join() and items() methods | Python in   |
   
35

35. Dictionaries- copy and update method ( Python in   )
   
36

36. Sets - How to create ( Python in   )
   
37

37. Sets - union, intersection and length
   
38

38. Sets - difference of two sets ( Python in   )
   
39

39. Sets - symmetric difference ( Python in   )
   
40

40. Sets - remove and discard methods ( Python in   )
   
41

41. Sets - superset and subset ( Python in   )
   
42

42. Sets - frozen sets
   
43

43. Challange based on Sets
   
44

44. Files - Reading from a text file
   
45

45. Files - open files using with keyword ( Python in   )
   
46

46. Files - read, readline, readlines methods ( Python 3 in   )
   
47

47. Files - writing into files ( Python in   )
   
48

48. Files - eval() function
   
49

49. Files - append mode ( Python in   )
   
50

50. Binary Files - read and write ( Python in   ) | हिंदी |
   
51

51. Binary Files - read and write | Part 2 ( Python in   )
   
52

52. Binary Files - writing object into file using Pickle ( Python in   )
   
53

53. Binary Files - writing multiple objects into binary file ( Python in   )
   
54

54. Modules - What is module /Library ( Python in   )
   
55

55. Modules - Standard Library modules, help() and dir() function ( हिंदी )
   
56

56. Modules - webbrowser module | हिंदी | ( Python in   )
   
57

57. Functions - what is and how to create ( Python in   )
   
58

58. Functions - passing arguments | ( Python in   )
   
59

59. Functions - return statement ( Python in   )
   
60

60. Functions - Default arguments ( Python in   )
   
61

61. Functions - Keyword Arguments ( Python in   )
   
62

62. Functions - Independent number of arguments ( Python in   )
   
63

63. Functions - Global variables, local variables, nonlocal variables
   
64

64. Functions - Recursion |   | Python 3 |
   
65

65. gTTS Module - convert text to mp3 | Python 3 |   |
   
66

66. playsound Module - play audio files in Python |   |
   
67

67. OS Module - run dos/terminal commands |   | Python 3 |
   
68

68. OS Module - working with directories and files | Python 3 |   
   
69

69. OS Module - file navigation using OS walk | Python 3 |   |
   
70

70. OS Module - search file by name ( Python in   )
   
71

71. Pyperclip - copy and paste text in Python
   
72

72. Exception Handling in Python |   |
   
73

73. Exception Handling - finally keyword ( Python in   )
   
74

74. Exception Handling - raising an Exception
   
75

75. Exception Handling - handling raised Exception
   
76

76. Introduction to object oriented programming (Python in   )
   
77

77. OOPS - self parameter | Python 3 |   
   
78

78. OOPS - passing parameters to methods | Python 3 |   
   
79

79. OOPS - Constructor ( Python in   )
   
80

80. OOPS - parameterized constructor | Python 3 |   
   
81

81. OOPS - Inheritance in Python |   |
   
82

82. OOPS - method overriding in Python |   |
   
83

83. OOPS - multiple inheritance in Python | हिंदी |
   
84

84. OOPS - Multilevel inheritance in Python | हिन्दी
   
85

85. OOPS - Hierarchical inheritance in Python | हिन्दी
   
86

86. OOPS - Hybrid Inheritance in Python | हिन्दी
   
87

87. super() function in Python | हिंदी
   
88

88. Constructor calling in Multiple inhertiance | हिंदी
   
89

89. Class Variables and Instance Variable in Python | हिंदी
   
90

90. Private data members in Python | हिंदी
   
91

91. Private methods in Python | हिंदी
   
92

92. Creating password generator and keeper | Python in   
   
93

93. Regular expressions - finding phone numbers in a text | Python |   
   
94

94. Regular expression - groups() | Python in   
   
95

95. Regular expressions - finding emails in a text | Python |   
   
96

96. Regular expression - matching multiple groups with pipe
   
97

97. Regular expression - getting optional part using Question mark
   
98

98. Regular Expressions - use of * ( asterisk ) | Python |   
   
99

99. Regular Expressions - checking start and end of a string
   
100

100. Regular Expressions - use of dot (.) | Python |   
   
101

101. Regular Expressions - accepting any string and exercise | Python |   
   
102

102. Regular Expressions - (exercise ) getting all the HTML tags from a website
   
103

103. Python program to download YouTube videos | Python |   
   
104

104. zipfile - reading a zip file in python |   
   
105

105. zipfile - extract a zip file in Python |   
   
106

106. zipfile - creating a zip file | compress files in Python |   
   
107

107. easiest way to search files in Python |   
   
108

108. web scraping - intro and get page source of any web-page | Python |   
   
109

109. web scraping - Finding links from a web page in Python
   
110

110. web scraping - Introduction to Beautifulsoup 4 | Python |   
   
111

111. web scraping - getting google search data | Python |   
   
112

112. web scraping - Exercises | Python |   
   
113

Openpyxl - 1 - accessing a spreadsheet in Python |   
   
114

Openpyxl - 2- accessing a cell of spreadsheet | Python |   
   
115

Openpyxl - 3 - Reading data from spreadsheet | Python |   |
   
116

Openpyxl - 4 - Creating spreadsheet using Python |   |
   
117

Openpyxl - 5 - assigning value to cells
   
118

Openpyxl - 6 - Copy data from one sheet to another within the workbook | Python |   
   
119

Openpyxl - 7 - Copy data from one workbook to another
   
120

Pillow - 1 - Introduction ( Python library for working with images) |   
   
121

Pillow - 2 - Resize images using Python |   |
   
122

Pillow - 3 - Rotating Images using Python |   
   
123

Pillow - 4 - cropping image using Python |   
   
124

Pillow - 5 - Create new image using Python |   
   
125

Pillow - 6 - blending two images | merge images using Python |   
   
126

Pillow - 7 - Image filter in PIL | Python |   
   
127

Pillow - 8 - writing text on images | Python |   
   
128

Python socket programming #1 in   
   
129

Python socket programming #2 |   
   
130

Python SQLite tutorial 1 - connecting database (हिंदी)
   
131

Python SQLite tutorial 2 - creating table ( हिंदी )
   
132

Python SQLite tutorial 3 - inserting data ( हिंदी )
   
133

Python SQLite tutorial 4 - retrieving data ( हिंदी )
   
134

Python SQLite tutorial 5 - updating data ( हिंदी )
   
135

Python SQLite tutorial 6 - deleting data ( हिंदी )
   
136

Matplotlib Tutorial 1 - Introduction (   )
   
137

Matplotlib Tutorial - 2 - Title and Labels ( in   )
   
138

Matplotlib Tutorial 3 - Legends | Python ( in   )
   
139

Matplotlib Tutorial 4 - Bar Graph | Bar Chart | Python |   
   
140

Matplotlib Tutorial 5 - Histogram | Python |   
   
141

Matplotlib Tutorial 6 - Scatter plot | Python |   
   
142

Matplotlib Tutorial 7 - Pie chart | Python |   
   
143

Matplotlib Tutorial - 8 - Loading data from text files |   
   
144

How to access dictionary items using dot operator in Python ?
   
145

1. Python Project - Image Compressor - Introduction |   |
   
146

2. Compressing multiple images at once | Python Project |   
   
147

3. PyQt5 - Main Window | Python Project | Image Compressor |   
   
148

4. PyQT5 - Using external Style-Sheet | Python Project | Image Compressor |   
   
149

5. PyQT5 - QFrame - adding Frames | Python Project | Image Compressor |   
   
150

6. PyQT5 - multiple screens - clicking on QFrame | Image Compressor | Python Project |   
   
151

7. PyQT5 - QLabel | text into frames | Image Compressor | Python Project |   
   
152

8. PyQT5 - QLabel - RichText - adding back arrow icon for navigation | Python |   
   
153

9. PyQT5 -QLineEdit - designing single image window | Image Compressor | Python |   |
   
154

10. PyQT5 - QPushButton - adding buttons on frame | Image Compressor | Python |   
   
155

11 - PyQT5 - QComboBox - adding quality combobox on frame | Image Compressor | Python |   
   
156

12. PyQT5 - designing directory frame | Image Compressor | Python |   
   
157

13. PyQT5 - QFileDialog - choosing image from files | Python |   
   
158

14. PyQT5 - select Folder dialog box | Python |   
   
159

15 . PyQT5 - Choosing image quality | Image Compressor
   
160

15 . PyQT5 - Choosing image quality | Image Compressor
   
161

16. Solving bug for directory window
   
162

17. PyQT5 - Choosing image quality for directory window
   
163

18. PyQt5 - Performing compression for single image
   
164

19. PyQT5 - Input window - getting new image's name
   
165

20. PyQT5 - Status Bar
   
166

21. Solving bug related to image quality
   
167

21. Solving bug related to image quality
   
168

22. Compressing directory of images using UI | Python GUI tutorials
   
169

25. Converting Image compressor to EXE
   
170

24. Image Compressor - Code and feedback
   
171

23. Defining constraints | Python GUI tutorials
   
172

Machine Learning in   - Introduction to course
   
173

1. Installing Anaconda | Machine Learning in   
   
174

2. Introduction to Anaconda and Spyder | Machine Learning in   
   
175

3. Installing R and R Studio | Machine Learning in   
   
176

4. Introduction to Data Pre-Processing | Dependent & Independent Variables | Machine Learning
   
177

5. Data Preprocessing - Repairing missing values in Python | Machine Learning in   
   
178

6. Repairing missing data using R | Machine Learning in   
   
179

7. Handling Categorical data | Label Encoding | One Hot Encoding | Machine learning in   
   
180

8. Handling Categorical Data using Python | One Hot Encoding | Label Encoding | ML in   
   